*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: rgba(109, 54, 212, 0.4);
}

#conteudo{
    margin-top: 100px;
    margin-left: 10px;
    font-size: 20px;
    line-height:30px;
}

p{
    margin: 25px 0 0 0 ;
    color: #3b3b3b;

}

.head{
    background-color: #6d36d4;
    color:#adadad;
    padding: 20px;
    
}
h4,h3{
    margin-top: 50px;
}
#Na{
    text-decoration: none;
    color:#adadad;
}
a{
    text-decoration: none;
    color: #6d36d4;
}
#spa{
    margin-bottom: 40px;
}
.espaco{
    margin-top: 50px;
}
